<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>cercaNazione</servlet-name>
		<servlet-class>it.objectmethod.cercanazionedb.main.CercaNazioneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cercaNazione</servlet-name>
		<url-pattern>/reseach</url-pattern>
	</servlet-mapping>


</web-app>